@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background: linear-gradient(#19b0ec, #456fe8, #b94c98, #f0073b);
  background-size: 100% 300vh;
}

body.ai {
  background-position: 0 -200vh;
  transition: 0.8s ease;
}

.main-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: white;
}

.game-container {
  position: absolute;
  text-align: center;
  padding: 2rem;
  transition: 0.4s ease;
}

.game-container.hidden {
  transform: scale(0);
}

.main-title {
  font-size: 3rem;
  margin: 0.25rem;
}

.scoreboard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100px;
  font-size: 1.5rem;
  margin: 0.25rem;
}

.scoreboard-mark::before {
  content: "(";
}
.scoreboard-mark::after {
  content: ")";
}
.game-board {
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 150px));
  grid-template-rows: repeat(3, 13vh);
  gap: 5px;
}

.locked {
  pointer-events: none;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.cell:hover {
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.4s ease;
}
.cell:nth-child(3n + 1) {
  border-left: none;
}
.cell:nth-child(3n) {
  border-right: none;
}

.winner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  gap: 40px;
  top: 75vh;
  left: 50%;
  padding: 2rem;
  z-index: 8;
  translate: -50% -50%;
  transition: 0.4s ease;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  cursor: default;
  font-size: 1.3rem;
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.8);
}
.winner-container.hidden {
  transform: translateY(50vh);
  transform-origin: bottom;
  transition: 0.4s ease;
}

.restart-btn {
  cursor: pointer;
  border: none;
  border-radius: 30px;
  min-width: 180px;
  padding: 1rem 3rem;
  font-weight: 600;
  transition: 0.4s ease;
  box-shadow: 0 0 0 0 greenyellow;
}

.restart-btn:hover,
.restart-btn:active {
  transition: 0.4s ease;
  box-shadow: 0 0 55px -5px greenyellow;
}

.splash-screen-container {
  transition: 0.4s ease;
  text-align: center;
}

.splash-screen-container.hidden {
  transform: scale(0);
}

.splash-screen-title {
  position: absolute;
  font-size: 2rem;
  top: 10% !important;
}

.players-form {
  padding: 2rem;
}
.fl {
  padding: 2rem;
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

label {
  margin: 1rem;
}
.player-seeting {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
}
.mark {
  cursor: pointer;
  font-size: 1.5rem;
  width: fit-content;
  border: solid 1px white;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 1rem 0.5rem;
  color: white;
  background: none;
}

.mark.selected {
  background-color: white;
  color: black;
  transition: 0.4s ease;
}

.mark:hover:not(.selected) {
  background-color: rgba(0, 0, 0, 0.2);
}

.marks-container {
  padding: 1rem 2rem;
  display: flex;
}

.start-game-btn {
  cursor: pointer;
  font-size: 1.3rem;
  border: none;
  border-radius: 25px;
  font-weight: 800;
  transition: 0.4s ease;
  padding: 1rem 4rem;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
}

.start-game-btn:hover {
  transition: 0.4s ease;
  box-shadow: 0 0 65px -2px rgba(255, 255, 255, 0.4);
}

.inp {
  min-width: 250px;
  border: none;
  border-radius: 25px;
  outline: none;
  padding: 0.5rem 1rem;
}

.inp:focus {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
}

.info-text {
  min-height: 50px;
  margin: 1rem;
  font-weight: 500;
}

.btn {
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 30px;
  padding: 1rem 2.5rem;
  transition: 0.4s ease;
}

#humanoid-btn:hover {
  box-shadow: 0 0 55px -5px red;
}

#human-btn:hover {
  box-shadow: 0 0 55px -5px greenyellow;
}

.select-mode-container {
  padding: 4rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: 0.4s ease;
}
.select-mode-container.hide {
  transform: scale(0);
}

.mode-form {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
}

.seetings-container {
  transition: 0.4s ease;
}
.seetings-container.hide {
  transform: scale(0);
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.ai-seeting {
  padding: 1rem 2rem;
  border-radius: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
}
.ai-level {
  cursor: pointer;
  display: block;
  margin: 1rem;
  border-radius: 10px;
  padding: 1rem 2rem;
}

.ai-level:hover:not(.selected) {
  background-color: rgba(0, 0, 0, 0.2);
}

.ai-level.selected {
  transition: 0.4s ease;
  background-color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 550px) {
  .mode-form,
  .fl {
    flex-direction: column;
  }
}
